<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/expedition.css">
    <script src="/js/main.js" defer></script>
    <title>Detale Ekspedycji</title>
</head>
<body>
    <header>
        <a href="/" id="title"><h1>Space Crabs</h1></a>
        <nav>
            <a href="/expeditions"><h4 class="nav-element">Ekspedycje</h4></a>
            <a href="/users"><h4 class="nav-element">Użytkowicy</h4></a>
            <a href="/login" id="account-anchor">
                <h4 class="nav-element" id="account-header">----------</h4>
            </a>
        </nav>
    </header>
    <div class="content-header">
        <span id="header-label">Detale ekspedycji</span><br>
        <h2>&lt;&lt; <em>{{ expedition.name }}</em> &gt;&gt;</h2>
    </div>
    <main>
        <section>
            <h3>Podstawowe informacje</h3>
            <p>
                <strong>Przewodnik:</strong> {{ expedition.guide.firstname }} {{ expedition.guide.lastname }} ({{ expedition.guide.experience }})<br>
                <strong>Organizator:</strong> {{ expedition.organizer.name }}<br>
                <strong>Stacja startowa:</strong> {{ expedition.home_station }}<br>
                <strong>Czas trwania:</strong> {{ expedition.start_time }} - {{ expedition.end_time }}<br>
                <strong>Maksymalna liczba uczestników:</strong> {{ expedition.max_no_participants }}<br>
                <strong>Cena:</strong> {{ expedition.price }} kredytów
            </p>
        </section>
        <section>
            <h3>Przystanki</h3>
            <ul class="stops">
                {% for stop in expedition.stops %}
                <li>{{ stop }}</li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h3>Uczestnicy</h3>
            <ul class="participants">
                {% for participant in expedition.participants %}
                <li>{{ participant.firstname }} {{ participant.lastname }} (Opłacone: {% if participant.paid %}Tak{% else %}Nie{% endif %})</li>
                {% endfor %}
            </ul>
        </section>
    </main>
    <div id="buttons">
        <a href="/expeditions"><div class="button secondary">Powrót</div></a>
        <div class="button primary">Zapisz się</div>
        <div class="button secondary">Edytuj</div>
    </div>
</body>
</html>