<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/expeditions.css">
    <title>Lista Ekspedycji</title>
</head>
<body>
    <header>
        <a href="/" id="title"><h1>Space Crabs</h1></a>
        <nav>
            <a href="expeditions"><h4 class="nav-element">
                <span class="pointer">&gt; </span>Ekspedycje<span class="pointer"> &lt;</span>
            </h4></a>
            <a href="login"><h4 class="nav-element">Moje konto</h4></a>
        </nav>
    </header>
    <main class="expedition-list">
        {% for entry in api_expeditions %}
        <div class="expedition"><a href="expedition/{{ entry.str_id }}">
            <h2>{{ entry.expedition.name }}</h2>
            <p>
                <strong>Przewodnik:</strong> {{ entry.expedition.guide.firstname }} {{ entry.expedition.guide.lastname }} ({{ entry.expedition.guide.experience }})<br>
                <strong>Organizator:</strong> {{ entry.expedition.organizer.name }}<br>
                <strong>Stacja startowa:</strong> {{ entry.expedition.home_station }}<br>
                <strong>Czas trwania:</strong> {{ entry.expedition.start_time }} - {{ entry.expedition.end_time }}<br>
                <strong>Maksymalna liczba uczestników:</strong> {{ entry.expedition.max_no_participants }}<br>
                <strong>Cena:</strong> {{ entry.expedition.price }} kredytów
            </p>
            <h3>Przystanki</h3>
            <ul class="stops">
                {% for stop in entry.expedition.stops %}
                <li>{{ stop }}</li>
                {% endfor %}
            </ul>
            <h3>Uczestnicy</h3>
            <ul class="participants">
                {% for participant in entry.expedition.participants %}
                <li>{{ participant.firstname }} {{ participant.lastname }} (Opłacone: {% if participant.paid %}Tak{% else %}Nie{% endif %})</li>
    
                {% endfor %}
            </ul>
        </a></div>
        {% endfor %}
    </main>
</body>
</html>
