<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <script src="/js/main.js" defer></script>
    <title>Space Crabs</title>

    <style>
        #land-img {
            position: fixed;
            top: 25%;
            right: 20%;
            overflow: hidden;
        }

        #motto {
            position: fixed;
            top: 35%;
            right: 2%;
            max-width: 30%;
            text-align: right;
        }

        .font-effect {
            font-style: italic;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--accent);
            color: transparent;
        }
    </style>
</head>
<body>
    <header>
        <a href="#" id="title"><h1>Space Crabs</h1></a>
        <nav>
            <a href="/expeditions"><h4 class="nav-element">Ekspedycje</h4></a>
            <a href="/users"><h4 class="nav-element">Użytkowicy</h4></a>
            <a href="/login" id="account-anchor">
                <h4 class="nav-element" id="account-header">----------</h4>
            </a>
        </nav>
    </header>
    <div id="land-img">
        <img src="img/landing.png" alt="Landing page image">
    </div>
    <h1 id="motto">LET'S<br>GET<br><span class="font-effect">STARTED</span></h1>

    <!-- Na potrzeby testowania ciasteczek -->
    <button type="button" onclick="alert(document.cookie)">Wyświetl ciastka</button>
</body>
</html>